<br>
<section class="container">
<div class="row">
  <div class="col-md-6">

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Login</h3>
    </div>
    <div class="box-body table-responsive">

      <div class="alert alert-danger" *ngIf="!isValidUser">Please Enter Correct Credentials</div>

      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" formControlName="username">
          <p *ngIf="form.controls.username.touched && form.controls.username.errors" class="text-danger">Please Enter
            Username</p>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" maxlength="8">
          <p *ngIf="form.controls.password.touched && form.controls.password.errors" class="text-danger">Please Enter
            Password</p>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Login</button>
      </form>
      <br>
      <p>Not yet register ! </p>
      <a [routerLink]="'/register'">Click here to register</a>

    </div>

  </div>
</div>
  </div>
</section>