<!-- Main content -->
<section class="content container-fluid">

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Job Details</h3>
            <span class="pull-right">
              <span class="label label-success">{{totalExperience}}</span>
              &nbsp; &nbsp;<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal"
                (click)="edit(null)">Add</button>
            </span>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
                <div class="customwell well" *ngFor="let jobDetail of jobDetails;let sn=index" [class.text-muted]="!jobDetail.current">
                        <div class="row" >
                            <div class="col-md-12">
                                <p><b>{{jobDetail.designation}}</b>
                                    <i class="glyphicon glyphicon-trash pull-right"
                                    (click)="delete(jobDetail.id)" title="Delete"></i>
                                    <i class="glyphicon glyphicon-edit pull-right" (click)="edit(jobDetail)" title="Update"
                                    data-toggle="modal" data-target="#myModal"></i>
                                </p>
                                <p>{{jobDetail.company}}</p>
                                <p *ngIf="jobDetail.dolStr">{{jobDetail.dojStr}} to {{jobDetail.dolStr}}</p>
                                <p *ngIf="!jobDetail.dolStr">{{jobDetail.dojStr}} to present</p>
                                <p><span class="label" [class.label-success]="jobDetail.current" [class.label-default]="!jobDetail.current">{{jobDetail.experience}}</span></p>
                            </div>
                            
                        </div>
                    </div>
        </div>
    </div>
</section>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <ng-container *ngIf="jobDetail.id">Update Job Detail</ng-container>
                        <ng-container *ngIf="!jobDetail.id">Add Job Detail</ng-container>
                    </h4>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" #form="ngForm" novalidate>
                        <div class="form-group">
                            <label for="compay">Company Name:</label>
                            <input type="text" class="form-control" id="compay" placeholder="Enter name"
                                name="jobDetail.compay" [(ngModel)]="jobDetail.company"
                                #companyNameVal="ngModel" required>
                            <p class="text-danger"
                                *ngIf="(companyNameVal.touched || companyNameVal.dirty) &&  companyNameVal.invalid">
                                Please
                                enter company name</p>
                        </div>
                        <div class="form-group">
                            <label for="designation">Designation:</label>
                            <input type="text" class="form-control" id="designation" placeholder="Enter designation"
                                name="jobDetail.designation" [(ngModel)]="jobDetail.designation"
                                #designationVal="ngModel" required>
                            <p class="text-danger"
                                *ngIf="(designationVal.touched || designationVal.dirty) &&  designationVal.invalid">
                                Please
                                enter designation</p>
                        </div>
                        <div class="form-group">
                            <label for="doj">DOJ:</label>
                            <input type="date" class="form-control" id="doj" placeholder="Select doj"
                                name="jobDetail.doj" [(ngModel)]="jobDetail.dojStr" #dojVal="ngModel" required>
                            <p class="text-danger" *ngIf="(dojVal.touched || dojVal.dirty) &&  dojVal.invalid">Please
                                select
                                doj</p>
                        </div>
                        <div class="form-group">
                            <label for="dol">DOL:</label>
                            <input type="date" class="form-control" id="dol" placeholder="Select dol"
                                name="jobDetail.dol" [(ngModel)]="jobDetail.dolStr">

                        </div>
                        <div class="form-group">
                            <label for="current">Current:</label>
                            <input type="checkbox" id="current" 
                                name="jobDetail.current" [(ngModel)]="jobDetail.current">
                            
                        </div>
                        <button type="button" class="btn btn-success" (click)="save(form)" [disabled]="form.invalid">
                            <ng-container *ngIf="jobDetail.id">Update</ng-container>
                            <ng-container *ngIf="!jobDetail.id">Add</ng-container>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
