<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/pavan.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Pavan</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Screens</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class=""><a [routerLink]="'appdata'"><i class="fa fa-database"></i> <span>Application Data</span></a></li>
      <li class=""><a [routerLink]="'todos'"><i class="ion ion-clipboard"></i> <span>To Do</span></a></li>
      <li class=""><a [routerLink]="'events'"><i class="fa fa-calendar"></i> <span>Events</span></a></li>
      <li class=""><a [routerLink]="'job-details'"><i class="fa fa-briefcase"></i> <span>Job Details</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-rupee"></i> <span>Savings</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="'savings'">Dashboard</a></li>
          <li><a [routerLink]="'banks'">Banks</a></li>
          <li><a [routerLink]="'chits'">Chits</a></li>
          <li><a [routerLink]="'fds'">Fds</a></li>
          <li><a [routerLink]="'mfs'">Mutual Funds</a></li>
        </ul>
      </li>
      <li class=""><a [routerLink]="'expenses'"><i class="fa fa-rupee"></i> <span>Expenses</span></a></li>
   </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>