<!-- Main content -->
<section class="content container-fluid">

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Fds <span *ngIf="fds" class="badge">{{fds.length}}</span></h3>
            <span class="pull-right">
                <span class="label label-success">{{totalDeposited | currency:'INR':'symbol'}} to {{totalMatured | currency:'INR'}}</span>
                &nbsp; &nbsp;<span class="label label-success">{{totalProfit | currency:'INR'}}</span>
                &nbsp; &nbsp;<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal"
                    (click)="edit(null)">Add</button>
            </span>

        </div>

        <div class="box-body">
            <div class="customwell well" *ngFor="let fd of fds;let sn=index">
                <span *ngIf="fds" class="badge custombadge">{{sn+1}}</span>
                <div class="row" >
                    <div class="col-md-12">
                        <p><b><span *ngIf="fd.fdrNo">{{fd.fdrNo}}</span> </b>
                            <i class="glyphicon glyphicon-trash pull-right"
                            (click)="delete(fd.id)" title="Delete"></i>
                            <i class="glyphicon glyphicon-edit pull-right" (click)="edit(fd)" title="Update"
                            data-toggle="modal" data-target="#myModal"></i>
                        </p>
                        <hr>
                        <p>{{fd.depAmount | currency:'INR'}} to {{fd.maturedAmount | currency:'INR'}}</p>
                        <p>{{fd.profit | currency:'INR'}} @ {{fd.roi}} %</p>
                        <p>{{fd.depositedOn | date:'dd-MMM-yyyy'}} to {{fd.maturedOn | date:'dd-MMM-yyyy'}} ( {{fd.periodInMonths}} months )</p>
                        <p><span class="label label-success">{{fd.remainingTime}}</span></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <ng-container *ngIf="fd.id">Update FD</ng-container>
                        <ng-container *ngIf="!fd.id">Add FD</ng-container>
                    </h4>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" #form="ngForm" novalidate>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="bank">Select Bank:</label>
                                <select class="form-control" id="bank" name="fd.bank" [(ngModel)]="fd.bank"
                                    #bankVal="ngModel" required>
                                    <option value="undefined">--Select Bank--</option>
                                    <option value='kcbs'>kcbs</option>
                                </select>
                                <p class="text-danger" *ngIf="(bankVal.touched || bankVal.dirty) &&  bankVal.invalid">
                                    Please
                                    select bank</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fdrNo">FDR NO:</label>
                            <input type="text" class="form-control" id="fdrNo" placeholder="Enter FDR NO"
                                name="fd.fdrNo" [(ngModel)]="fd.fdrNo" #fdrNoVal="ngModel" required>
                        </div>
                        <div class="form-group">
                            <label for="depAmount">Amount:</label>
                            <input type="number" class="form-control" id="depAmount" placeholder="Enter amount"
                                name="fd.depAmount" [(ngModel)]="fd.depAmount" #amountVal="ngModel" required>
                            <p class="text-danger" *ngIf="(amountVal.touched || amountVal.dirty) &&  amountVal.invalid">
                                Please
                                enter amount</p>
                        </div>
                        <div class="form-group">
                            <label for="roi">ROI:</label>
                            <input type="number" class="form-control" id="roi" placeholder="Enter roi" name="fd.roi"
                                [(ngModel)]="fd.roi" #roiVal="ngModel" required>
                            <p class="text-danger" *ngIf="(roiVal.touched || roiVal.dirty) &&  roiVal.invalid">Please
                                enter
                                roi</p>
                        </div>
                        <div class="form-group">
                            <label for="depositedOn">Deposited On:</label>
                            <input type="date" class="form-control" id="depositedOn" placeholder="Select Deposited On"
                                name="fd.depositedOn" [(ngModel)]="fd.depositedOn" #depOnVal="ngModel" required>

                                <p class="text-danger" *ngIf="(depOnVal.touched || depOnVal.dirty) &&  depOnVal.invalid">
                                Please
                                select Deposited On</p>
                        </div>
                        <div class="form-group">
                            <label for="periodInMonths">Period:</label>
                            <input type="number" class="form-control" id="periodInMonths" placeholder="Enter period in months"
                                name="fd.periodInMonths" [(ngModel)]="fd.periodInMonths" #periodVal="ngModel" required>
                            <p class="text-danger" *ngIf="(periodVal.touched || periodVal.dirty) &&  periodVal.invalid">
                                Please
                                enter period</p>
                        </div>
                        <button type="button" class="btn btn-success" (click)="save(form)" [disabled]="form.invalid">
                            <ng-container *ngIf="fd.id">Update</ng-container>
                            <ng-container *ngIf="!fd.id">Add</ng-container>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>