<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Profile
      <small>details</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <div class="panel panel-primary">
      <div class="panel-heading">Basic Details
        <button class="btn btn-success btn-xs pull-right">Edit</button>
      </div>
      <div class="panel-body">Panel Content</div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Education Details
      <button class="btn btn-success btn-xs pull-right">Add</button>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-compact">
      <thead>
        <th>Degree</th>
          <th>Institution</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
      </thead>
      <tbody>
        <tr>
            <td>B.Tech</td>
              <td>Sri Aditya Engineering College</td>
              <td>01-06-2010</td>
              <td>01-07-2014</td>
              <td align="center">
              <span class="glyphicon glyphicon-edit" title="Edit"></span>
              <span class="glyphicon glyphicon-trash" title="Delete"></span>
              </td>
          </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Family Details
          <button class="btn btn-success btn-xs pull-right">Edit</button>
        </div>
        <div class="panel-body">Panel Content</div>
      </div>
    
</section>
  