<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Profile
    <small>details</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Basic Details</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-primary btn-xs">Add</button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="customwell well" *ngIf="data">
            <div class="row">
              <div class="col-md-12">
                <p><b>{{data.name}}</b>
                  <i class="glyphicon glyphicon-trash pull-right" title="Delete"></i>
                  <i class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"></i>
                </p>
                <p>{{data.oriDobStr}}</p>
                <p><span class="label label-success">{{data.oriAgeStr}}</span></p>
                <p class="text-muted">{{data.cerDobStr}}</p>
                <p><span class="label label-default">{{data.cerAgeStr}}</span></p>
              </div>
            </div>
          </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>
<!-- 
  <div class="box box-success collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">Educational Details</h3>

      <div class="box-tools pull-right">
          <button class="btn btn-primary btn-xs">Add</button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
        
      </div>
    </div>
    
    <div class="box-body">
      <div class="customwell well">
        <div class="row">
          <div class="col-md-12">
            <p><b>1) SSC</b>
              <i class="glyphicon glyphicon-trash pull-right" title="Delete"></i>
              <i class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"></i>
            </p>
            <p>Aditya Public School</p>
            <p>2007-02-12 to 2008-02-12</p>
            <p><span class="label label-success">1 Years, 0 Months, 0 Days</span></p>
          </div>
        </div>
      </div>
      <div class="customwell well">
          <div class="row">
            <div class="col-md-12">
              <p><b>2) Intermediate</b>
                <i class="glyphicon glyphicon-trash pull-right" title="Delete"></i>
                <i class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"></i>
              </p>
              <p>Narayana Junior College,Kakinada</p>
              <p>2008-02-12 to 2010-02-12</p>
              <p><span class="label label-success">2 Years, 0 Months, 0 Days</span></p>
            </div>
          </div>
        </div>
        <div class="customwell well">
            <div class="row">
              <div class="col-md-12">
                <p><b>3) BTech</b>
                  <i class="glyphicon glyphicon-trash pull-right" title="Delete"></i>
                  <i class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"></i>
                </p>
                <p>Sri Aditya Engineering College</p>
                <p>2010-02-12 to 2014-02-12</p>
                <p><span class="label label-success">4 Years, 0 Months, 0 Days</span></p>
              </div>
            </div>
          </div>
    
    </div>
   
  </div>

  <div class="box box-success collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">Family Details</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-primary btn-xs">Add</button>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
        
      </div>
    </div>
    
    <div class="box-body">
        <div class="customwell well">
            <div class="row">
              <div class="col-md-12">
                <p><b>1) Gogu Appa Rao</b>
                  <i class="glyphicon glyphicon-trash pull-right" title="Delete"></i>
                  <i class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"></i>
                </p>
                <p>Document Writer</p>
                <p>2010-02-12 <span class="label label-success">4 Years, 0 Months, 0 Days</span></p>
              </div>
            </div>
          </div>

          
     
    </div>
   
  </div> -->


</section>