<!-- Main content -->
<section class="content container-fluid">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Expenses
        &nbsp;&nbsp;
      <span class="label label-success" *ngIf="expenses">{{expenses.length}}</span>
      </h3>
      <span class="pull-right">
        <span class="label label-success">{{totalExpenses | currency:'INR'}}</span>
        &nbsp; &nbsp;<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal"
          (click)="edit(null)">Add</button>
      </span>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12"><div class="col-md-4">
              <select class="form-control" id="expenseTypeFilter" #expenseTypeFilter (change)="get(expenseTypeFilter.value)">
              <option value="All">All</option>
              <option *ngFor="let expenseCategory of expenseCategories" [ngValue]="expenseCategory">{{expenseCategory}}</option>
            </select>
      </div></div>
    </div>
    <!-- /.box-header --><br>
    <div class="box-body table-responsive no-padding">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped">
        <thead>
         <tr>
            <th>S.No</th> 
            <th>Type</th>
            <th>Name</th>
            <th>Amount</th> 
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses;let sn=index">
            <td>{{sn+1}}</td>
            <td>{{expense.expenseType}}</td>
            <td>{{expense.name}}</td>
            <td>{{expense.amount | currency:'INR'}}</td>
            <td>{{expense.expenseDate | date:'dd-MMM-yyyy'}}</td>
            <td><i class="glyphicon glyphicon-edit" (click)="edit(expense)" title="Update" data-toggle="modal"
                data-target="#myModal"></i><i class="glyphicon glyphicon-trash" (click)="delete(expense.id)"
                title="Delete"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- /.box-body -->
  </div>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            <ng-container *ngIf="expense.id">Update Expense</ng-container>
            <ng-container *ngIf="!expense.id">Add Expense</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <form autocomplete="off" #form="ngForm" novalidate>
            <div class="form-group">
              <label for="expenseType">Expense Type:</label>
              <select class="form-control" id="expenseType" name="expense.expenseType" [(ngModel)]="expense.expenseType"
              #expenseTypeVal="ngModel" required>
              <option value="undefined">--Select Expense Type--</option>
              <option *ngFor="let expenseCategory of expenseCategories" [ngValue]="expenseCategory">{{expenseCategory}}</option>
            </select>
            <p class="text-danger" *ngIf="(expenseTypeVal.touched || expenseTypeVal.dirty) &&  expenseTypeVal.invalid">
              Please
              select event type</p>
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" name="expense.name"
                [(ngModel)]="expense.name" #nameVal="ngModel" required>
              <p class="text-danger" *ngIf="(nameVal.touched || nameVal.dirty) &&  nameVal.invalid">Please enter name
              </p>
            </div>
            <div class="form-group">
              <label for="amount">Amount:</label>
              <input type="number" class="form-control" id="amount" placeholder="Enter amount" maxlength="10"
                name="expense.amount" [(ngModel)]="expense.amount" #balanceVal="ngModel" required>
              <p class="text-danger" *ngIf="(balanceVal.touched || balanceVal.dirty) &&  balanceVal.invalid">Please
                enter amount</p>
            </div>
            <div class="form-group">
              <label for="expenseDate">Date:</label>
              <input type="date" class="form-control" id="expenseDate" placeholder="Select Date"
                  name="fd.expenseDate" [(ngModel)]="expense.expenseDate" #expenseDateVal="ngModel" required>

                  <p class="text-danger" *ngIf="(expenseDateVal.touched || expenseDateVal.dirty) &&  expenseDateVal.invalid">
                  Please
                  select date</p>
            </div>
            <button type="button" class="btn btn-success" (click)="save(form)" [disabled]="form.invalid">
              <ng-container *ngIf="expense.id">Update</ng-container>
              <ng-container *ngIf="!expense.id">Add</ng-container>
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>